/.vscode
/2025-04-06 13.07.36.jpg
/Lista_på_båtar_20251102_1911.xlsx
/Varvskarta
/convert_pdf_to_jpg.py
/läs_excel.py
/läsa_xml.py
/my-apache-site
/output.txt
/output_debug.jpg
/read_jpg_to_text.py
/test.py
/testa.py
/utVarvskarta
/utVarvskarta.drawio
/varv_info.xlsx
/varvskarta.jpg
/varvskarta.pdf